/* Write some CSS below */
body {
  font-family: "Overpass", sans-serif;
  background-color: #fdf0e6;
  color: #131213;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Chivo", sans-serif;
}

.banner {
  background-color: #131213;
  background-image: linear-gradient(
      rgba(82, 83, 85, 0.7),
      rgba(82, 83, 85, 0.7)
    ),
    url(images/background.jpg);
  background-position: center;
  background-size: cover;
  color: #fdf0e6;
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
}

.button-primary {
  display: inline-block;
  background-color: #131213;
  padding: 16px 32px;
  color: #fdf0e6;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 1;
}

.button-primary:hover {
  opacity: 0.8;
}

.container {
  width: 896px;
  margin: 48px auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 0 4px #868789;
}

.card-header {
  height: 128px;
  border-radius: 4px;
}

.card-header-zambezi {
  background-color: #665c5b;
}

.card-header-flint {
  background-color: #756662;
}

.card-header-charcoal {
  background-color: #3e3f41;
}

.footer {
  background-color: #73625e;
  padding-top: 2px;
  padding-bottom: 2px;
}
